.group-modal {
}

.group-con {
  margin-top: 20px;
  height: 230px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}

.group-form {
  margin-top: 20px;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.group-form input {
  height: 100%;
  flex: 1;
}

.group-form button {
  height: 100%;
}
