.home {
  margin: auto;
  min-width: var(--min-w);
  max-width: var(--max-w);
}

.search-wrap {
  display: flex;
  height: 50px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.search-wrap .primary-btn {
  width: fit-content;
}
.search-input {
  background-color: var(--s-color);
  border: none;
  border-radius: 12px;
  flex: 3;
  height: 100%;
  border: 2px solid var(--border-color);
  transition: border-color 0.3s;
}
.search-input:focus {
  border-color: var(--p-color);
}
