.home {
  display: flex; /*! 임시. 나중에 모달로 바꾸면 빠질 css */
  border: 1px solid tomato;
}
.outer-wrap {
  flex: 1; /*! 임시. 나중에 모달로 바꾸면 빠질 css */
}
.search-wrap {
  display: flex;
  height: 50px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.search-wrap .primary-btn {
  width: fit-content;
}
