.detail-modal {
}

.detail_modal_contact_info-con {
  margin-top: 50px;
}
.detail_modal_contact_info-item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}
.detail_modal_contact_info-item > span:first-child {
  font-weight: 600;
}
