.add-modal {
  width: 400px;
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 12px;
}

.input-con {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-con > li {
  display: flex;
  gap: 4px;
  font-weight: 600;
}

.input-con span {
  flex: 2;
}
.input-con input {
  flex: 2;
}
.input-con select {
  flex: 1;
}
.input-con select + button {
  flex: 1;
}
.save-btn {
  margin-top: 8px;
}
