.primary-btn {
  background-color: var(--p-color);
  border-radius: 12px;
  width: 100%;
  color: white;
  padding: 1rem;
  border: none;
  transition: background-color 0.3s;
}

.primary-btn:disabled {
  background-color: gray;
}
