:root {
  --p-color: #007bff;
  --s-color: #f0f8ff;
  --border-color: #dedede;
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', system-ui;
}
ul,
ol,
li {
  font-family: 'Noto Sans KR', system-ui;
}
button {
  cursor: pointer;
}
button:hover {
  filter: brightness(1.2);
}
button:active {
  filter: brightness(1.1);
}

input {
  padding: 0;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}
