:root {
  --p-color: #007bff;
  --s-color: #f0f8ff;
  --border-color: #dedede;
  --max-w: 800px;
  --min-w: 500px;
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', system-ui;
}
ul,
ol,
li {
  font-family: 'Noto Sans KR', system-ui;
}
button {
  cursor: pointer;
}
button:hover {
  filter: brightness(1.2);
}
button:active {
  filter: brightness(1.1);
}

select {
  outline: none;
}
input {
  padding: 0;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.modal_close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 400px;
  height: 400px;
  padding: 32px 48px;
  border-radius: 12px;
}
.modal h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
